.country-code select{
    width: 6.75rem
}
  .submit-btn:disabled {
    cursor: not-allowed;
}
.ant-select-dropdown{
  width: 5.5rem !important;
}
.ant-select-selector{
  width: 5.5rem !important;
}
.error-msg{
  color: brown;
}
.country-drop{
    border-radius: 2px; /* Add rounded corners */
}
.message-box{
  display: block;
}


 .fintech-meetup-logo {
  height: 92px;
  left: 112px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  width: 376px;
}

 .div {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 56px;
  left: 83px;
  position: absolute;
  top: 245px;
}

 .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

 .text-wrapper {
  color: #ffffff;
  font-family: "Oxygen-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 434px;
}

 .p {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  text-align: center;
  width: 434px;
}

 .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

 .text-wrapper-2 {
  color: #fbf5a9;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 434px;
}

 .text-wrapper-3 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 434px;
}

 .overlap-group-wrapper {
  height: 261px;
  left: -70px;
  position: absolute;
  top: 570px;
  width: 777px;
}

 .overlap-group {
  height: 261px;
  position: relative;
}

 .rectangle {
  background-color: #d6def7;
  height: 59px;
  left: -6px;
  position: absolute;
  top: 101px;
  transform: rotate(-15deg);
  width: 788px;
}

 .div-4 {
  align-items: center;
  display: inline-flex;
  gap: 12px;
  left: 23px;
  position: absolute;
  top: 122px;
  transform: rotate(-15deg);
}

 .text-wrapper-4 {
  color: #552e95;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

 .ellipse {
  background-color: #552e95;
  border-radius: 2.5px;
  height: 5px;
  position: relative;
  width: 5px;
}



/* Styles for screens smaller than 576px (extra small devices, phones) */
@media only screen and (max-width: 575.98px) {
  .message-box{
    display: none;
  }
}

/* Styles for screens between 576px and 767px (small devices, landscape phones) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .message-box{
    display: none;
  }
}

/* Styles for screens between 768px and 991px (medium devices, tablets) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {

}

/* Styles for screens between 992px and 1199px (large devices, desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  
}

/* Styles for screens larger than 1200px (extra large devices, large desktops) */
@media only screen and (min-width: 1200px) {
 
}
