.country-code select{
    width: 6.75rem
}
  .submit-btn:disabled {
    cursor: not-allowed;
}
.ant-select-dropdown{
  width: 5.5rem !important;
}
.ant-select-selector{
  width: 5.5rem !important;
}
.error-msg{
  color: brown;
}